<div class="job-card">
  <div class="accent-bar"></div>

  <div class="card-body">
    <div class="info">
      <div class="tags">
        <span class="pill pill-dept">{{ seniorityLabel }}</span>
      </div>

      <h3 class="title">{{ job.title }}</h3>

      <div class="meta">
        <span>
          <i class="pi pi-map-marker"></i>
          {{ locationLabel }}
        </span>
        <span>
          <i class="pi pi-briefcase"></i>
          {{ employmentLabel }}
        </span>
        <span>
          <i class="pi pi-clock"></i>
          {{ jobTypeLabel }}
        </span>
        <span>
          <i class="pi pi-calendar"></i>
          {{ postedLabel }}
        </span>
      </div>
    </div>

    <div class="action">
      <a class="view-btn" [routerLink]="['/jobs', job.id]">
        View Details
        <span class="triangle"></span>
      </a>
    </div>
  </div>
</div>
